<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>鼠标事件</title>
</head>
<body>
    <div id="hand">
        <a href="https://guanjia.lenovo.com.cn/" target="_blank" rel="noopener noreferrer">3333</a>
        <div v-for= '(item,index) in 2'>1</div>
        <div v-for="(item, index) in items" :key="index"></div>
    </div>
</body>
<script src="../js/vue.js"></script>
<script>
new Vue({
    el:'#hand',
    data() {
        return {
            
        }
    },
    methods: {
        
    },
})
</script>
<style>
    *{
        margin: 0;
        padding: 0;
    }
    a:hover{
        color: orange;
    }
</style>
</html>